body {
    background-color: rgb(194, 194, 194);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
 .Title {
    font-size: 75px;
    color: rgb(44, 44, 44);
    font-weight: 550;
    margin: 55px;
  }

  .board {
    display: block;
    margin: auto;
    width: 332px;
    height: 360px;
    background-color: rgba(15, 139, 21, 0.4);
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 10px 10px;
  }
  
  .sq {
    display: inline-block;
    vertical-align: top;
    height: 90px;
    width: 110px;
    margin-right: -3px;
    font-size: 60px;
    padding-top: 30px;
    cursor: pointer;
    font-family: sans-serif;
    transition: background 0.3s;
  }
  
  .sq:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  
  .bottom {
    border-bottom: 1px solid black;
  }
  
  .right {
    border-right: 1px solid black;
  }

  #Winner {
    font-size: 35px;
    color: rgb(36, 36, 36);
  }

  .ResetButton {
    border: none;
    margin: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(120, 166, 182);
    font-weight: 600;
    font-size: 18px;
    border-radius: 6px;
  }

  .ResetButton:hover {
    background-color: rgb(123, 175, 192);
    cursor: pointer;
    box-shadow: 1px 1px 2px;
    transition: background 0.3s;
  }